{% extends 'base.html' %}

{% block content %}
    <div class="container mx-auto mt-16 text-center text-white">
        <h1 class="text-3xl font-bold mb-8">Malawi Recipes Project</h1>

        <p class="text-lg mb-4">
            This project was inspired by the challenge of and subsiquite failure to cook Usipa.
        </p>

        <p class="text-lg">
            The Malawi Recipes Project is a learning experience for three key technologies:
        </p>

        <ul class="list-image-none text-left mb-4">
            <li><strong>Flask:</strong> Used to build the backend of the project, Flask is a lightweight web framework in Python that allows building robust and scalable web applications.</li>

            <li><strong>SQLite:</strong> For efficient data management, SQLite is chosen as the database system. It's easy to set up and well-suited for smaller to medium-sized applications.</li>

            <li><strong>Tailwind CSS:</strong> Integrated for making the project visually appealing and responsive, Tailwind CSS provides a utility-first approach, making it easier to design and style the user interface.</li>
        </ul>
    </div>
{% endblock %}
