{% extends 'base.html' %}

{% block content %}
    <div class="flex justify-center items-center h-screen">
        <form method="post" style="width: 50%; text-align: center; background-color: #f0f0f0; padding: 20px; border-radius: 8px;">
            <h1>{% block title %} Add a New Post {% endblock %}</h1>

            <label for="author">Author</label><br>
            <input type="text" name="author" placeholder="Author" value="{{ request.form['author'] }}"><br>

            <label for="title">Title</label><br>
            <input type="text" name="title" placeholder="Post title" value="{{ request.form['title'] }}"><br>

            <label for="content">Post Content</label><br>
            <textarea name="content" placeholder="Post content" rows="15" cols="60">{{ request.form['content'] }}</textarea><br>

            <label for="ingredients">Ingredients</label><br>
            <textarea name="ingredients" placeholder="Ingredients" rows="15" cols="60">{{ request.form['ingredients'] }}</textarea><br>

            <button type="submit" style="background-color: #333; color: #fff; padding: 10px 20px; border: none; border-radius: 4px; cursor: pointer;">Submit</button>
        </form>
    </div>
{% endblock %}
