{% extends 'base.html' %}

{% block content %}
    <div class="flex justify-center items-center">
        <form method="post" class="w-1/2 text-center bg-opacity-80 bg-black p-20 rounded-lg text-white">
            <h1 class="mb-4">{% block title %} Add a New Recipe {% endblock %}</h1>

            <div class="mb-4">
                <label for="author" class="block mb-2">Author</label>
                <input type="text" name="author" placeholder="Author" value="{{ request.form['author'] }}" class="w-full p-2 border-box border rounded bg-gray-100 text-gray-800">
            </div>

            <div class="mb-4">
                <label for="title" class="block mb-2">Recipe Title</label>
                <input type="text" name="title" placeholder="Post title" value="{{ request.form['title'] }}" class="w-full p-2 border-box border rounded bg-gray-100 text-gray-800">
            </div>

            <div class="mb-4">
                <label for="ingredients" class="block mb-2">Ingredients</label>
                <textarea name="ingredients" placeholder="Ingredients" rows="15" cols="60" class="w-full p-2 border-box border rounded bg-gray-100 text-gray-800">{{ request.form['ingredients'] }}</textarea>
            </div>

            <div class="mb-4">
                <label for="content" class="block mb-2">Steps</label>
                <textarea name="content" placeholder="Post content" rows="15" cols="60" class="w-full p-2 border-box border rounded bg-gray-100 text-gray-800">{{ request.form['content'] }}</textarea>
            </div>

            <button type="submit" class="bg-gray-800 text-white p-2 rounded cursor-pointer">Add Recipe</button>
        </form>
    </div>
{% endblock %}
