{% extends 'base.html' %}

{% block content %}
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 py-8 text-white">
        <h1>{{ recipe.title }} </h1> <span class="text-gray-400">by {{ recipe.author }}</span>

        <h2 class="h-2 mt-4 mb-4">Ingredients</h2>
        <p>{{ recipe.ingredients }}</p>

        <h2 class="h-2 mt-4 mb-4">Steps</h2>
        {% set list1 = recipe.content.split(';;;;') %}
        {% for item in list1 %}
            <p>{{ loop.index }}. {{ item }}</p>
        {% endfor %}
        <!-- <p>{{ recipe.content }}</p> -->
    </div>
{% endblock %}